#main-content img{
  height: calc(150px + 3vw);
  width: calc(150px + 3vw);
  border-radius: 50%;
  float: left;
  position: static;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
  object-fit: cover;
  overflow: hidden;
}
.employee-list-name {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 8px;
}
#main-content td{
  padding: 0px !important;
}
table {
  margin-top: 50px;
  layout: fixed;
}
#table-container {
  background-color: white;
  margin-left: 3vw;
  margin-right: 6vw;
}
#employee-table td {
  background-color: white !important;
  padding-bottom: calc(30px + 2vw) !important;
}
#employee-table tr, th, td {
  /* border: 1px solid grey; */
  padding: 0px;
}
