.employee-list-name {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 8px;
}
#main-content td{
  padding: 0px !important;
}
table {
  layout: fixed;
}
#employee-table td {
  background-color: white !important;
  padding-bottom: calc(70px + 2vw) !important;
}
#employee-table tr, th, td {
  padding: 0px;
}

/* Responsive display of the employee list */

#container-desktop {
  margin-left: 3vw;
  margin-right: 6vw;
  margin-top: 70px;
}

#container-mobile {
  display: none;
  width: 97vw;
  margin-left: -5vw;
  align-items: center;
}

@media screen and (max-width: 750px) {
  #container-desktop {
    display: none;
  }
  #container-mobile {
    display: block;
  }
}

.employee-div {
  width: 97vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.employee-image-div {
  margin-top: 6vh;
  width: 97vw;
  height: 200px;
  display: flex;
  justify-content: center;
}

.image-mobile {
  margin-top: 0px !important;
}

.employee-info-div {
  margin-top: 4vh;
  margin-bottom: 4vh;
  width: 97vw;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
}

.employee-desktop {
  margin-top: -10px;
}
