:root {
  /* --astein-blue: #1976d2; */
  /* --astein-blue: #2bafdd; */
  --astein-primary: #2b91dd;
  --astein-primary-dark: #166abd;
  --fullwidth: 100%;
  --width-form: calc(280px + 16vw);
  --navbar-height: calc(1em + 40px);
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

#astein-logo {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 17px;
    width: 100px;
    height: 23px;
}

.navbar {
  background-color: var(--astein-primary);
}

.navtab {
  color: white;
  text-decoration: none;
  font-size: 1em;
  background-color: var(--astein-primary);
  border: none;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: background-color 0.5s;
}

.navtab:hover {
  background-color: var(--astein-primary-dark);
  cursor: pointer;
}

#link-admin-page {
  color: white;
  text-decoration: none;
}

.active {
  background-color: var(--astein-primary-dark);
}

#main-content {
  padding-top: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 100px;
  /* background-color: grey; */
}

.footer {
  height: 40px;
  width: 100vw;
  background-color: var(--astein-primary);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: calc(6px + 0.5vw);
}

.social-media-icon {
  margin-left: 8px;
  margin-right: calc(6px + 0.5vw);
  height: 30px;
  width: 30px;
}

.icon-white {
  color: white;
}

.footer-icon {
  margin-left: 5vw;
  margin-right: 10px;
}

.footer-icon-action {
  margin-left: 5vw;
  margin-right: 10px;
  cursor: pointer;
}

.footer-text {
  color: white;
  font-size: calc(0.7em + 0.25vw);
}

#footer-right {
  height: 40px;
  position: fixed;
  bottom: 0;
  right: 2vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.white-link {
  color: white !important;
}

.astein-form input[type=text], input[type=tel], input[type=email] {
	position: relative;
	display: block;
	background-color: #e8e8e8;
  border: none;
	border-radius: 5px;
	box-sizing: border-box;
  width: calc(300px + 15vw);
  height: 40px;
  font-size: 1em;
  font-weight: 100;
  padding-left: 5px;
	margin-top: 8px;
}

.astein-form > input[type=submit]{
  -webkit-appearance: none;
  -webkit-border-radius:0;
  height: 40px;
  min-width: 150px;
	background-color: #303030;
  border: none;
	border-radius: 5px;
  color: white;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left, padding-right: 30px;
  margin-top: 40px;
}

.astein-form > input[type=submit]:hover {
  background-color: black;
  cursor: pointer;
}

.astein-form > input[type=file] {
  margin-top: 10px;
}

.astein-form > input[type=checkbox] {
  display: block !important;
  position: relative !important;
  float: left !important;
  margin-right: calc((40px - 1em) / 2);
  margin-top:  calc((40px - 1em) / 2);
  font-size: 1em;
}

.astein-form > textarea {
  font-family: 'Roboto', sans-serif;
	display: block;
	background-color: #e8e8e8;
  border: none;
	border-radius: 5px;
	box-sizing: border-box;
  min-width: calc(300px + 15vw);
  min-height: 100px;
  font-size: 1em;
  padding: 5px;
	margin-top: 5px;
}

/* Forms on mobile devices */
@media screen and (max-width: 900px) {
  .astein-form input[type=text], input[type=tel], input[type=email] {
    width: 90vw !important;
  }
  .astein-form > textarea {
    min-width: 90vw !important;
  }
}

select {
	position: relative;
	display: block;
	background-color: #e8e8e8;
  border: none;
	border-radius: 5px;
	box-sizing: border-box;
  height: 40px;
  font-size: 1em;
  font-weight: 100;
  padding-left: 5px;
}

.submit_button {
  height: 40px;
  min-width: 150px;
	background-color: #303030;
  border: none;
	border-radius: 5px;
  color: white;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left, padding-right: 30px;
  margin-top: 40px;
}

.submit_button:hover {
  background-color: black;
  cursor: pointer;
}

.astein-form > label {
  display: flex;
  align-items: center;
  float: left;
  width: 200px;
  margin-top: calc((40px - 1em) / 2);
}


/* ---- Inicio (Admin) ---- */

.admin-inicio-image {
  height: 50px;
  width: 672px;
  background-color: #dcdcdc;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-top: 25px;
  margin-right: 30vw;
  font-size: 1.1em;
  transition: background-color 0.25s ease-in-out;
}

.admin-inicio-image:hover {
  background-color: #cecece;
}

.icon-action {
  font-size: 32px !important;
  color: #303030;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

.icon-arrow {
  font-size: 36px !important;
  color: #303030;
  cursor: pointer;
  padding-left: 0px;
  padding-right: 0px;
}

.icon-action:hover {
  color: #000;
}

.inicio-upload-icon {
  padding-left: 20px;
  padding-right: 20px;
}

.inicio-imagename {
  width: 250px;
}

.subtitle {
  margin-bottom: 50px;
  margin-right: 30px;
}

.filename-input {
  float: left;
  position: relative;
	display: block;
	background-color: #efefef;
  border: none;
	border-radius: 5px;
	box-sizing: border-box;
  width: 150px;
  height: 30px;
  font-size: 1em;
  font-weight: 100;
  padding-left: 5px;
  margin-left: 20px;
  margin-right: 30px;
}

.plus_icon {
  font-size: 46px !important;
  margin-top: 30px;
  margin-left: -5px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* ---- Equípo (Admin) ---- */
.admin-equipo {
  width: 480px;
}

/* ---- Editar Empleado (Admin) ---- */
.admin-textarea {
	position: relative;
	display: block;
	background-color: #e8e8e8;
  border: none;
	border-radius: 5px;
	box-sizing: border-box;
  min-width: calc(300px + 15vw);
  min-height: 100px;
  font-size: 1em;
  /* font-weight: 100; */
  padding: 5px;
}

.employee-image {
  object-fit: cover;
  height: 200px;
  width: 200px;
  margin-top: -45px;
  border-radius: 50%;
  /* overflow: hidden; */
}

.icon-back {
  font-size: 48px !important;
  color: #757575;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -30px;
  margin-left: -16px;
  transition: margin 0.5s;
}

.icon-back:hover {
  color: #303030;
  margin-left: -24px;
}

.light-button {
  height: 40px;
  min-width: 150px;
	background-color: #cccccc;
  border: none;
	border-radius: 5px;
  color: #303030;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  display: inline-block;
}

.light-button:hover {
  background-color: #bbbbbb;
  cursor: pointer;
  color: black;
}

#image-label {
  width: 200px;
  height: 40px;
}

#employee-image-container {
  display: flex;
  flex-flow:column nowrap;
  width: calc(50px + 10vw);
  margin-bottom: 30px;
}

.light-icon-button {
  height: 40px;
  min-width: 206px;
  background-color: #cccccc;
  border: none;
  border-radius: 5px;
  color: #303030;
  font-size: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.2s ease-in;
}

.light-icon-button:hover {
  cursor: pointer;
  background-color: #b9b9b9;
  color: black !important;
}

.light-icon-button:hover > .button-icon {
  color: black;
}

.button-icon {
  font-size: 32px !important;
  color: #303030;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 15px;
}

/* ---- Reserva Detalle (Admin) ---- */
#reserva-details {
  margin-top: -20px;
  line-height: 150%;
}

.reserva-status-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

#subtitle-label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  background-color: #7FFFBF;
}

.status-new {
  padding: 4px;
  border-radius: 5px;
  background-color: #FFB28C;
}

.status-in-progress {
  padding: 4px;
  border-radius: 5px;
  background-color: #FFFF80;
}

.status-completed {
  padding: 4px;
  border-radius: 5px;
  background-color: #7FFFBF;
}

#icon-back-reservas {
  margin-top: -7px;
  margin-bottom: 20px;
}

/* ---- Trabaja con Nosotros (Admin) ---- */

table {
  border-collapse: collapse;
}

table, th, td{
  border: 0px;
}

th {
  height: 50px;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--astein-primary);
  color: white;
}

td {
  /* height: 50px; */
  min-width: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

tr {
  background-color: #e1e1e1;
  transition: background-color 0.1s ease-in;
}

tr:nth-child(even) {
  background-color: #F9F9F9;
}

tr:hover {
  background-color: #d7d7d7;
}

tr:nth-child(even):hover {
  background-color: #efefef;
}

.icon-table {
  font-size: 28px !important;
  margin-top, margin-bottom: 0px;
  padding-top, padding-bottom: 0px;
}

.table-options {
  text-align: center;
}

#button-forgot-password {
  margin-top: 20px;
}

#new-employee {
  padding: 0px;
}

.employee-name {
  width: 325px;
}

.warning-message {
  position: fixed;
  background-color: orange;
  top: 45 vw;
  left: 45vw;
  display: block;
  transition: display 1s ease-in-out;
}

.warning-message:hover {
  display: none;
}

/* ---- Feedback Messages (Admin) ---- */
.feedback-message {
    position: fixed;
    display: none;
    align-items: center;
    color: white;
    border-radius: 5px;
    top: calc(5vw + 50px);
    right: 4vw;
    opacity: 1;
    transition: opacity 2s ease-in-out;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: -5px 5px 15px 2px rgba(0,0,0,0.2);
    z-index: 1000;
}

#feedback-success {
  background-color: #00c853;
}

#feedback-info {
  background-color: var(--astein-primary-dark);
}

#feedback-warning {
  background-color: #ff6d00;
}

.material-icons.feedback-icon {
  font-size: 42px;
  padding-right: 30px;
}

.warning-message:hover {
  display: none;
}

/* ---- Trabaja con Nosotros (Admin) ---- */
.table-message {
  max-width: 200px;
  padding: 10px;
}

tr, th, td {
  /* border: 1px solid grey; */
}

/** ---- Reservas (Admin) ---- */
.large-table th {
  height: 45px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--astein-primary);
  color: white;
  font-size: 0.9em;
}

.large-table td {
  min-width: 25px;
  padding: 10px;
  vertical-align: top;
  font-size: 0.9em;
}

.status-field {
  display: flex;
  align-items: center;
}

#reservation-detail-message {
  max-width: 70vw;
  margin-top: -0.5em;
}

#status-change-button {
  display: inline;
  margin-top: 0px;
  margin-left: 10px;
}

.reservas-list-options {
  width: 80px;
  padding-left: 0px;
  padding-right: 0px;
}

.icon-reservas {
  padding-left: 12px;
  padding-right: 0px;
}

/** ---- Offer Search (Admin) ---- */
.admin-select-button {
  margin-bottom: 15px;
  margin-top: -10px;
}

#admin-search-offers-button {
  margin-top: 15px;
  margin-bottom: 40px;
}


/** ---- Responsive Navigation Menu (User and Admin Page) ---- */

/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--astein-primary);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a:not(.ignore) {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  height: 1em;
  transition: background-color 0.5s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--astein-primary-dark);
  cursor: pointer;
}

/* Add an active class to highlight the current page */
.active {
  /* background-color: var(--astein-primary-dark); */
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .hamburger-icon {
  display: none;
}

/* When the screen is less than 900 pixels wide, hide all links, except for the first one ("Home").
Show the link that contains should open and close the topnav (.hamburger-icon) */
@media screen and (max-width: 900px) {
  .topnav a:not(.ignore) {display: none;}
  .topnav a.hamburger-icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the hamburger-icon.
This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.hamburger-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .logo-tab {
    float: none;
  }
}

#astein-logo-responsive {
    width: 130px;
    height: 30px;
    padding-top: 4px;
}

#navbar-hamburger {
  display: inline-block;
  font-size: 28px;
}

#hamburger-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--navbar-height);
  width: var(--navbar-height);
}

.logo-tab-expanded {
  float: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--navbar-height);
  width: 180px;
}

.logo-tab-collapsed {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--navbar-height);
  width: 180px;
}

.hamburger-icon {
  color: white;
  text-decoration: none;
  transition: background-color 0.5s;
}


/** ---- Responsive Footer (User and Admin Page) ---- */
#footer-mobile {
  display: none;
}

/* Show mobile footer on small devices */
@media screen and (max-width: 900px) {
  #footer-desktop {display: none;}
  #footer-mobile {display: block;}
}

.centered-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mobile-icon {
  margin-left: calc(6px + 0.5vw);
  margin-right: calc(6px + 0.5vw);
}

/** ---- Responsive Map Size (User) ---- */
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/** ---- Create/Edit Offer (Admin) ---- */
.form-select {
  margin-bottom: calc((40px - 1em) / 1.5);
}

.inline-textfield {
	position: relative;
	display: inline;
  float: left;
	background-color: #e8e8e8;
  border: none;
	border-radius: 5px;
	box-sizing: border-box;
  width: 100px;
  height: 40px;
  font-size: 1em;
  font-weight: 100;
  padding-left: 5px;
  margin-right: calc((40px - 1em) / 2);
}

.legend-label {
  display: flex;
  align-items: center;
  float: left;
  margin-top: calc((40px - 1em) / 2);
}

/* Crear oferta (Administrador) */
.inline-checkbox {
  display: inline;
  margin-left: calc((60px - 1em) / 2);
  margin-right: 10px;
  font-size: 1em;
  margin-top: calc((40px - 1em) / 2);
}

/* Contacta con nosotros (usuario)*/
.contact-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.icon-contacta {
  margin-top: 0.2em;
  margin-right: 10px;
}

/* Ofertas (usuario) */
.ofertas-container {
    display: flex;
    margin-left: 0px !important;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.offer{
  /* background: var(--astein-primary); */
  width: calc(100px + 7vw);
  height: calc(100px + 7vw);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5vw;
  margin-top: 5vw;
  /* transition: background-color 0.2s ease-in; */
  transition: all 0.2s ease-in-out;
}

.offer:hover{
  /* background: var(--astein-primary-dark); */
  cursor: pointer;
  transform: scale(1.05);
}

.offer a{
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.offer-image {
  width: calc(100px + 7vw);
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  /* border: 1px solid var(--astein-primary-dark); */
  transition: all 0.2s ease-in-out;
}

.offer-image:hover {
  box-shadow: 0px 5px 15px 2px rgba(0,0,0,0.2);
}

/* Mobile page */
@media screen and (max-width: 450px) {
  .offer {
    width: 90%;
    height: 80vw;
    margin-left: 5vw;
    margin-right: 5vw !important;
    margin-top: 10vw;
  }
  .offer-image {
    width: 80vw;
  }
}

/** ---- Aviso Legal (Usuario) ---- */
.aviso-legal {
  width: 90vw;
}

/* Lista de Solicitantes (Admin) */
.open-link {
  text-decoration: underline;
}

/* Edit Employee Image (Admin) */
.submit-image {
  float: left;
  margin-left: 200px;
  margin-right: 20px;
}
.delete-image {
  float: left;
}
