:root {
  /* --astein-blue: #1976d2; */
  /* --astein-blue: #2bafdd; */
  --astein-primary: #2b91dd;
  --astein-primary-dark: #166abd;
  --fullwidth: 100%;
  --width-form: calc(280px + 16vw);
}

.offer{  
  float:right;
  position:relative;
  background: var(--astein-primary);
  width: 15%;
  display: inline-block;
  float: left;
  margin-right: 2%;
  margin-top: 2%;
}

.offer:hover{
  background: var(--astein-primary-dark);
}

.offer a{
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.offer:hover a{
  text-decoration: underline;
}

.offer_photo_container{
  position:relative;
  float:left;
}
