#datos input{
	display: block;
	padding: 5px;
	margin: 10px;
	border-radius: 10px;
}

#datos input[type=text]{
	width:400px;
	height: 20px;
	text-align: left;
	font-weight: bold;
}

#datos input[type=submit]:hover{
  background-color:#166abd;
}
#datos input[type=submit]{
  background-color:#2b91dd;
}
#datos{
	margin-left: auto;
}