.datos input{
  display: block;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.datos{
  margin-left: auto;
  margin-top: auto;
}

.datos input[type=text]{
	position: relative;
	display: block;
	background-color: #e8e8e8;
  border: none;
	border-radius: 5px;
	box-sizing: border-box;
  width: calc(300px + 15vw);
  height: 40px;
  font-size: 1em;
  font-weight: 100;
  padding-left: 5px;
	margin-top: 5px;
}

.datos input[type=submit]{
  height: 40px;
  width: 150px;
	background-color: #303030;
  border: none;
	border-radius: 5px;
  color: white;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left, padding-right: 30px;
  margin-top: 40px;
}

.datos input[type=submit]:hover {
  background-color: black;
  cursor: pointer;
}
img {
	position: relative;
	float: right;
  margin-right: 10%;
}
form{
  position: fixed;
  width: 50%;
  float: left;
}
