#cuadrado {

  width:25vh;
  max-width:100px;
  height:100px;
  max-height:100px;
  position:right;
  margin-right: 800px;
  background:green;
  float: right;
}

#main-content {

  font-size: 30px;
  margin-left: 8px;
  margin-right: -3px;
  height: 40px;
  width: 60px;
  padding-top: 2vw;
  padding-left: 5vw;
}
